---
BasedOnStyle: LLVM
IndentWidth: 4 
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: Align

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignTrailingComments: true 
BreakBeforeBraces: Allman
ColumnLimit: 80
---


